.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  margin: 8px;

  background-color: var(--accent-bg);
  border-radius: 16px;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 8px;
}     